body{background-color:rgb(37, 48, 37);
  font-family:'Noto Sans Japanese', serif ;
}

.overwrapper{width:1200px;height:600px;margin:50px auto; border-radius: 50%;}


.header-wrapper{
  overflow:hidden;
  border-radius:50px;
  border:10px solid rgb(93,93,102);
  position: relative;width:900px; height:150px;
  margin:0 auto;
 }

header{background: url("bar201.png") repeat-x;
background-size:600px 150px;
height: 150px;
width: 2400px;
animation: slide 40s linear infinite;

}

@keyframes slide
{
0%{transform:translate3d(0,0,0) ; }

100%{transform:translate3d(-1200px,0,0); }

}

.filter{
  background-color:rgba(233, 17, 17, 0.5);
  height:200px;width:2400px;}


.text-wrapper{
  position:absolute;
  top:30px;
  left:20px;
  margin-left:20px;
}

.header-text{
  color:white;
  font-weight:bold;
  float:right;
  margin:30px 50px;

}

h1{
  color:rgb(253, 252, 252);
  float:left;
}
        
        
        p{
          color:rgb(7, 7, 7);
          font-weight: bold;
          }

        h2{color:rgb(14, 13, 13);}

        .categry{
          width:850px;
          background-color: rgb(179, 182, 179);
          border-radius:80px;
          border: 10px solid rgb(143, 11, 18);
          margin:20px auto;
          padding:20px;
        }

      .text{display:none;}

      footer{
        width:900px;
        height:200px;
        border:10px solid rgb(53, 3, 170);
        border-radius:80px;
        margin:0 auto;
      }

      .logo{
        background:url("../tz.png");
        background-size:200px 200px;
        width:150px;
        height:200px;
        float:right;
        position:relative;
        margin-top:-25px;
      }

      #close{
        width:200px;
        height:200px;
        position:absolute;
        display:none;
      }

      .introduce{
        font-size:5px;
        color:white;
        position:absolute;
        top:120px;
        left:30px;
      }

      .chaos{
        background:rgb(208, 209, 208);
        border:none;
        appearance:none;
        outline:none;
        cursor:pointer;
        box-shadow:rgb(51, 29, 104) 0px 5px;
        position:relative;
        float:right;
        margin:150px -120px 0px 0px;
        
      }

      .chaos:hover{
        background:rgb(161, 13, 13);
      }

      .chaos:active{
        box-shadow:none;
        top:5px;
      }

      #chaos1{
        color:black;
        font-weight:bold;
      }

      #blog{
        color:white;
        font-weight:bold;
      }

      @media(min-width:2500px){
        .overwrapper{
          float:left;
          margin:20px 0px 0px 40px;
        }
      }
      @media(max-width:1200px){

      }
      @media(max-width:670px){
        .overwrapper{
          width:100%;
        }
        
        .filter{
         background-color:rgba(124, 123, 123, 0.5);
        }

        .text-wrapper{
          position:absolute;
          top:30px;
          left:0px;
        }
        h1{
          font-size:40px;
          margin:20px 0px 0px 0px;
          
        }

        .header-text{
          font-size:20px;
          margin:30px 0px 0px 40px;
        }

        h2{
          font-size:40px;
        }

        p{
          font-size:25px;
        }
      }
 
