body{
  background-color:black;
  font-family:"Noto Sans JP", serif ;
  }

  .wrapper{
    width:1000px;
    margin-top:80px;
   margin-left:30px;
  }

  header{
    background:grey;
    width:200px;
    height:200px;
    border-radius:50%;
    border:solid 10px rgb(163, 22, 22);
    }

    h1{
      font-weight:bold;
      
      text-align:center;}

      .title-p{
        font-weight:bold;
        font-size:10px;
        text-align:center;
      }


    .main{
    
    background-color:grey;
    width:700px;
    height:700px;
    border-radius:50%;
    border:solid 10px rgb(163, 22, 22);
    }

    

    .text{
      color:white;
      font-weight:bold;
      font-size:12px;
      text-align:center;
      margin:50px 0px 0px 0px;}


      .clear{
        clear:left;
      }


      .img-wrapper1{
        background-image:url("kurotv1000.png");
        background-size:400px;
        width:400px;
        height:400px;
        position:relative;
        margin:0px 0px 0px 0px;
        
      }

      .tv-wrap{
       
        width:150px;
        height:150px;
        position:absolute;
        top:70px;
        left:155px;
        overflow:hidden;
        }

        .tv{
          width:150px;
          height:600px;
          animation:slide 10s linear infinite;
          position:absolute;
          top:0px;
          left:0px; 
        }

        @keyframes slide{
          0%{transform:translate3d(0,0,0);}
          100%{transform:translate3d(0,-300px,0);} 
        }


        #penktv{
          display:none;
          display:block;
          position:absolute;
          top:3px;
          left:2px;
          border-radius:17px;
          width:155px;
          height:155px;}

          
          
          
          

          .playlist{
            background: radial-gradient(#706f6f, #030303);
            width:180px;
            height:180px;
            border-radius:50%;
            float:right;
            margin:-350px 120px 0px 0px;
            outline: none; 
            border:10px double rgb(0, 0, 0);
            position:relative;
            font-family:Impact, 'Haettenschweiler', "Franklin Gothic Bold", 'Charcoal', "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
            
            }

            .playlist:active{
              width:160px;
              height:160px;
              border:7px solid rgb(3, 3, 3);
              top:5px;
            }
          
            .musik{
              font-size:20px;
              font-weight:bold;
            }

        .img-wrapper2{
          background:url("cd.png");
          background-size:cover;
          width: 330px;
          height:300px;
          margin:-200px 0px 0px 250px;
          position:relative;
          float:left;}

        .cd-wrap{
          
          width:107px;
          height:16px;
          position:absolute;
          top:120px;;
          left:110px;
          overflow:hidden;
        }

        .track{
          width:220px;
          height:10px;
          position:absolute;
          animation:slide9 10s linear infinite;
        }

        @keyframes slide9{
          0%{transform:translate3d(0,0,0);}
          100%{transform:translate3d(-110px,0,0);}
        }

        footer{
          background-color:grey;
          width:400px;
          height:400px;
          border-radius:50%;
          border:solid 10px rgb(163, 22, 22);
      }


      

      .footer-button{
        background:radial-gradient(rgb(48, 31, 233),rgb(7, 5, 100));
        width:150px;
        height:150px;
        border-radius:50%;
        border:none;
        cursor:pointer;
        outline:none;
        appearance:none;
        padding:0;
        float:right;
        margin:160px 35px 0px 0px;border:double 5px rgb(5, 5, 5);
      }

      .footer-button:active{
        border:none;
        width:140px;
        height:140px;
      }


      .toppage{
        color:white;
        font-size:13px;
        font-family:"Lucida Sans Typewriter", "Lucida Console", 'monaco', "Bitstream Vera Sans Mono", monospace;
        font-weight:bold;
      }
        
      .msk2{
        background:radial-gradient(rgb(255,255,255),rgb(80, 79, 76));
        width:100px;
        height:100px;
        border-radius:50%;
        border: none;
        cursor: pointer;
        outline: none; 
        padding: 0;
        appearance: none;
        margin:100px 0px 0px 30px;
        border:double 5px rgb(54, 50, 109);
        font-family:Garamond, 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        font-weight:bold;
      }

        

        .msk2:active{
          border:none;
          width:90px;
          height:90px;
        }

        .maintainance{
          background:rgba(55, 27, 179, 0.5);
          width:200px;
          height:80px;
          margin:-380px 0px 0px 0px;
          border-radius:20px;
          position:relative;
          display:none;
          
        }

        .maintainance:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -15px;
          border: 10px solid transparent;
          border-top: 30px solid rgba(55, 27, 179, 0.5);
        }
      
        .maintainance-message{
          color:white;
          position:absolute;
          top:0;
          left:0;
          margin-left:5px;
        }

        @media(max-width:670px){

          body{
            width:80em;
          }
          .wrapper{
            margin:50px auto;
          }

          .title-p{
            font-size:20px;
          }

          .text{
            font-size:20px;
          }

          .main{
            margin:100px 0px 200px 0px;
            width:850px;
            height:850px;
          }


        }

        @media(min-width:2500px){
          
          main{
            display:inline-block;
            margin:500px;
          }
        }






        

      

      
